# Clustering and Scoring Job Relocation Opportunities - Playground Notebook

Austin Rainwater

---

# Initialization

In [21]:
!pip install --quiet --upgrade sqlalchemy pymysql

from helpers import RenderJSON

import pandas as pd
import numpy as np

from sqlalchemy import (
    create_engine,
    Table,
    Column,
    MetaData,
    String,
    Numeric
)

import yaml

with open('secrets.yaml', 'r') as secrets_file:
    secrets = yaml.safe_load(secrets_file)
    
user_agent = 'datascience jupyter notebook/0.0 (https://github.com/pacorain/datascience-certification-final-project; Austin Rainwater, paco@heckin.io)'

---

# City Definition

Obviously, a good place for me to start is with some cities. Below is the table definition for the cities I will be exploring and their specific traits.

In [16]:
engine = create_engine(secrets['db_connection_string'], echo=True)

meta = MetaData()

cities = Table(
    'cities', meta,
    Column('city_name', String(50), primary_key=True, comment='City Name'),
    Column('metro_name', String(50), comment='Metropolitan Area Name'),
    Column('state', String(2), nullable=False, comment='2-Letter abbreviation of State'),
    Column('lat', Numeric(10, 6), nullable=False, comment='Latitude of City'),
    Column('lng', Numeric(10, 6), nullable=False, comment='Longitude of City')
)

meta.drop_all(engine)
meta.create_all(engine)

2020-11-21 02:05:27,126 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-11-21 02:05:27,127 INFO sqlalchemy.engine.base.Engine {}
2020-11-21 02:05:27,135 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-11-21 02:05:27,135 INFO sqlalchemy.engine.base.Engine {}
2020-11-21 02:05:27,144 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-11-21 02:05:27,145 INFO sqlalchemy.engine.base.Engine {}
2020-11-21 02:05:27,151 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-11-21 02:05:27,152 INFO sqlalchemy.engine.base.Engine {}
2020-11-21 02:05:27,169 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-11-21 02:05:27,171 INFO sqlalchemy.engine.base.Engine {}
2020-11-21 02:05:27,183 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-11-21 02:05:27,184 INFO sqlalchemy.engine.base.Engine {}
2020-11-21 02:05:27,187 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-11-21 02:05:27,188 INFO sqlalchemy.engine.base.Engine {}
2020-11-21 02:05:27,196 INFO sqlalchemy.engine.base.Engine DESCRIBE `cities`
2020-11-21 02:05:27,197 INFO sqlalchemy.engine.base.Engine {}
2020-11-21 02:05:27,203 INFO sqlalchemy.engine.base.Engine
DROP TABLE cities
2020-11-21 02:05:27,204 INFO sqlalchemy.engine.base.Engine {}
2020-11-21 02:05:27,219 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-21 02:05:27,223 INFO sqlalchemy.engine.base.Engine DESCRIBE `cities`
2020-11-21 02:05:27,224 INFO sqlalchemy.engine.base.Engine {}
2020-11-21 02:05:27,246 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-11-21 02:05:27,253 INFO sqlalchemy.engine.base.Engine
CREATE TABLE cities (
	city_name VARCHAR(50) NOT NULL COMMENT 'City Name',
	metro_name VARCHAR(50) COMMENT 'Metropolitan Area Name',
	state VARCHAR(2) NOT NULL COMMENT '2-Letter abbreviation of State',
	lat NUMERIC(10, 6) NOT NULL COMMENT 'Latitude of City',
	lng NUMERIC(10, 6) NOT NULL COMMENT 'Longitude of City',
	PRIMARY KEY (city_name)
)


2020-11-21 02:05:27,254 INFO sqlalchemy.engine.base.Engine {}
2020-11-21 02:05:27,319 INFO sqlalchemy.engine.base.Engine COMMIT

Let's start with my birthplace: Fort Wayne, Indiana.

In [18]:
new_city = cities.insert()

try:
    engine.execute(new_city, [
        {'city_name': 'Fort Wayne', 'metro_name': 'Fort Wayne', 'state': 'IN'}
    ])
except:
    print("Oops! That didn't work.")

2020-11-21 02:08:32,168 INFO sqlalchemy.engine.base.Engine INSERT INTO cities (city_name, metro_name, state) VALUES (%(city_name)s, %(metro_name)s, %(state)s)
2020-11-21 02:08:32,169 INFO sqlalchemy.engine.base.Engine {'city_name': 'Fort Wayne', 'metro_name': 'Fort Wayne', 'state': 'IN'}
2020-11-21 02:08:32,172 INFO sqlalchemy.engine.base.Engine ROLLBACK
Oops! That didn't work.

Ah, the table requires some more data to be able to insert the record. I could use the geocoder library from before to get the latitude and longitude, but since I will be using Wikipedia anyway, let's see if I can grab it from there.

In [22]:
city_name = 'Fort Wayne'
state_name = 'IN'

wikipedia_url = 'https://en.wikipedia.org/w/api.php'
params = {
    "action": "parse",
    "format": "json",
    
}