# Segmenting and Clustering Neighborhoods in Toronto

My coursera submission to segment and cluster neighborhoods.

<span style="font-size:xx-small;"><b>Do not copy or distribute.</b></span>

In [1]:
import pandas as pd
import numpy as np
import requests
import json

user_agent = 'datascience jupyter notebook/0.0 (Austin Rainwater, paco@heckin.io)'

## Step 2

 > Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

I will start by grabbing the data from Wikipedia using its API.

See https://stackoverflow.com/questions/40210536/how-to-obtain-data-in-a-table-from-wikipedia-api

In [2]:
url = 'https://en.wikipedia.org/w/api.php?action=parse&format=json&prop=sections&page=List_of_postal_codes_of_Canada%3A_M'

results = requests.get(url, headers={'User-Agent': user_agent}).json()
sections = results['parse']['sections']

section_index = None
for section in sections:
    if section['line'] == 'Toronto - 103 FSAs':
        section_index = section['index']

if section_index is None:
    raise ValueError("The Toronto FSAs were not found.")
    
"Section index is " + section_index

'Section index is 1'

In [3]:
url = 'https://en.wikipedia.org/w/api.php?action=parse&format=json&page=List_of_postal_codes_of_Canada%3A_M&prop=text&section=' + section_index

results = requests.get(url, headers={'User-Agent': user_agent}).json()
html = results['parse']['text']['*']

"Beginning of HTML: " + html[:1000]

'Beginning of HTML: <div class="mw-parser-output"><h2><span class="mw-headline" id="Toronto_-_103_FSAs"><a href="/wiki/Toronto" title="Toronto">Toronto</a> - 103 <a href="/wiki/Postal_codes_in_Canada#Forward_sortation_areas" title="Postal codes in Canada">FSAs</a></span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=List_of_postal_codes_of_Canada:_M&amp;action=edit&amp;section=1" title="Edit section: Toronto - 103 FSAs">edit</a><span class="mw-editsection-bracket">]</span></span></h2>\n<p>Note: There are no rural FSAs in Toronto, hence no postal codes should start with M0. However, the postal code M0R 8T0 is assigned to an <a href="/wiki/Amazon_(company)" title="Amazon (company)">Amazon</a> warehouse in Mississauga, suggesting that Canada Post may have reserved the M0 FSA for high volume addresses.\n</p>\n<table class="wikitable sortable">\n<tbody><tr>\n<th>Postal Code\n</th>\n<th>Borough\n</th>\n<th>Neighbourhood\n</th></tr>\n<tr>\n<td>M1A\n</td>\n<td>Not assigned'

I was going to try to build a [regular expression to parse the HTML](https://stackoverflow.com/a/1732454), but then I learned that pandas already has a [`read_html()` function](https://pandas.pydata.org/docs/reference/api/pandas.read_html.html):

In [4]:
df = pd.read_html(html)[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

## Step 3

 > - The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
 > - Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
 > - More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
 > - If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
 > - Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
 > - In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

I'll grab the values that are not "`Not assigned`", and then get the rest of the unique values to see what's left.

In [5]:
df = df[df['Borough'] != 'Not assigned']
df['Borough'].unique()

array(['North York', 'Downtown Toronto', 'Etobicoke', 'Scarborough',
       'East York', 'York', 'East Toronto', 'West Toronto',
       'Central Toronto', 'Mississauga'], dtype=object)

So, looking at the page, it looks like it's been recently edited so that the format is actually as stated in the instructions. I can confirm this by seeing how many unique boroughs each postal code has, as well as how many unique neighborhood values are in each borough.

In [6]:
a = df[['Postal Code', 'Borough']].groupby('Postal Code').nunique().max()
b = df.groupby(['Postal Code', 'Borough']).nunique().max()
print(f"Max unique boroughs per postal code: {int(a)}")
print(f"Max unique neighborhoods per borough: {int(b)}")

Max unique boroughs per postal code: 1
Max unique neighborhoods per borough: 1

However, I am curious if I can list out the neighborhoods in each postal code.

In [7]:
grouped_df = df[['Postal Code', 'Neighbourhood']].groupby('Postal Code')#.transform(', '.join)
grouped_df.aggregate(', '.join)

                                                 Neighbourhood
Postal Code
M1B                                             Malvern, Rouge
M1C                     Rouge Hill, Port Union, Highland Creek
M1E                          Guildwood, Morningside, West Hill
M1G                                                     Woburn
M1H                                                  Cedarbrae
...                                                        ...
M9N                                                     Weston
M9P                                                  Westmount
M9R          Kingsview Village, St. Phillips, Martin Grove ...
M9V          South Steeles, Silverstone, Humbergate, Jamest...
M9W                        Northwest, West Humber - Clairville

[103 rows x 1 columns]

I would use the same concept to perform the aggregation as requested on boroughs.

Now to continue assigning a value to "not assigned" neighborhoods.

In [8]:
def process_row(row):
    if row['Neighbourhood'] == 'Not assigned':
        return row['Borough']
    return row['Neighbourhood']

df['Neighbourhood'] = df.apply(process_row, axis=1)
'Not assigned' in df['Neighbourhood']

False

Let's finally check the shape of the dataframe.

In [9]:
df.shape

(103, 3)

---

# Part 2: Geocoding

Converting postal codes to coordinates.

In [10]:
!pip --quiet install --upgrade geocoder

import geocoder

In [11]:
def get_latitude_longitude(row):
    postal_code = row['Postal Code']
    geo = f"{postal_code}, Toronto, Ontario"
    
    i = 0
    while True:
        try:
            lat_lng = geocoder.google(geo).latlng
            assert lat_lng is not None
            break
        except AssertionError:
            i = i + 1
            if i > 100:
                raise ValueError("Tried 100 times and did not get a result")
    
    return pd.Series(lat_lng, ['Latitude', 'Longitude'])

Let's see if we get any results before trying that on all zip codes first

In [12]:
from traceback import print_exc

try:
    df.head(2).apply(get_latitude_longitude, axis=1, result_type='expand')
except:
    print_exc()

Traceback (most recent call last):
  File "<ipython-input-11-74053b0494b7>", line 9, in get_latitude_longitude
    assert lat_lng is not None
AssertionError

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "<ipython-input-12-c67d69be9800>", line 4, in <module>
    df.head(2).apply(get_latitude_longitude, axis=1, result_type='expand')
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/frame.py", line 7547, in apply
    return op.get_result()
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/apply.py", line 180, in get_result
    return self.apply_standard()
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/apply.py", line 255, in apply_standard
    results, res_index = self.apply_series_generator()
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/apply.py", line 284, in apply_series_generator
    results[i] = self.f(v)
  File "<ipython-input-11-74053b0494b7>", line 14, in get_latitude_longitude
    raise ValueError("Tried 100 times and did not get a result")
ValueError: Tried 100 times and did not get a result

Hmmm...that did not work. What happens if I try with one value?

In [13]:
result = geocoder.google('M3A, Toronto, Ontario')
result

<[REQUEST_DENIED] Google - Geocode [empty]>

`REQUEST_DENIED` tells me this is no longer working. That makes sense...I'd imagine the geocoder for Google would not continue working if they wanted people for the API.

Let's try [osm](https://geocoder.readthedocs.io/providers/OpenStreetMap.html#geocoding).

In [14]:
def get_latitude_longitude(row):
    postal_code = row['Postal Code']
    neighbourhood = row['Neighbourhood']
    geo = f"{postal_code}, Toronto, Ontario"
    ngeo = f"{neighbourhood}, Toronto, Ontario"
    
    i = 0
    while True:
        try:
            # Have to modify it a little because the response is different
            result = geocoder.osm(geo).json or geocoder.osm(ngeo).json
            assert result is not None
            lat_lng = (result['lat'], result['lng'])
            assert lat_lng is not None
            return pd.Series(lat_lng, ['Latitude', 'Longitude'])
        except AssertionError:
            i = i + 1
            if i > 100:
                raise ValueError(f"Tried 25 times for postal code {postal_code} and did not get a result")

In [15]:
try:
    result = df.head(2).apply(get_latitude_longitude, axis=1, result_type='expand')
except:
    print_exc()
    
result

    Latitude  Longitude
2  43.653482 -79.383935
3  43.732658 -79.311189

In [16]:
result = None

try:
    df = pd.concat(df, df.apply(get_latitude_longitude, axis=1, result_type='expand'))
    result = df.head(20)
except:
    print_exc()
    
result

Traceback (most recent call last):
  File "<ipython-input-14-83e11310dc92>", line 12, in get_latitude_longitude
    assert result is not None
AssertionError

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "<ipython-input-16-b3440c6a1e19>", line 4, in <module>
    df = pd.concat(df, df.apply(get_latitude_longitude, axis=1, result_type='expand'))
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/frame.py", line 7547, in apply
    return op.get_result()
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/apply.py", line 180, in get_result
    return self.apply_standard()
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/apply.py", line 255, in apply_standard
    results, res_index = self.apply_series_generator()
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/apply.py", line 284, in apply_series_generator
    results[i] = self.f(v)
  File "<ipython-input-14-83e11310dc92>", line 19, in get_latitude_longitude
    raise ValueError(f"Tried 25 times for postal code {postal_code} and did not get a result")
ValueError: Tried 25 times for postal code M5B and did not get a result

Darn. I'm out of ideas. I guess I will use the data provided by the course.

In [17]:
lat_lng_df = pd.read_csv('https://cocl.us/Geospatial_data')
lat_lng_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [18]:
df = df.merge(lat_lng_df, on='Postal Code')
df.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494